<launch>
  <!-- Arguments -->
  <arg name="rosbag" default="2025-05-12-17-31-37.bag" doc="Rosbag file to use for playback"/>
  <arg name="rviz" default="true" doc="Set to false to not launch rviz"/>
  
  <!-- Main ArucoSLAM Node -->
  <node pkg="pioneer_fast_slam" type="main.py" name="aruco_slam" output="screen">
    <param name="rosbag" value="$(arg rosbag)"/>
  </node>
  
  <!-- Play the specified rosbag file -->
  <node pkg="rosbag" type="play" name="rosbag_play" 
        args="--clock $(find pioneer_fast_slam)/src/rosbag/$(arg rosbag)"/>
  
  <!-- Use TF static publisher for camera to base transform - modify as needed for Pioneer -->
  <node pkg="tf" type="static_transform_publisher" name="camera_base_broadcaster"
        args="0.073 -0.011 0.084 0 0 0 base_link camera_link 100"/>
  
  <!-- RViz for visualization -->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find pioneer_fast_slam)/src/rviz/slam.rviz"/>
  </group>
  
  <!-- Set up time synchronization -->
  <param name="/use_sim_time" value="true"/>
</launch>